.centered
  %article
    .text.opened.icon
      = image_tag 'actions/article_02.jpg'
      %h1
        Стул
      %p
        При заказе любой  корпусной мебели суммой от 100.000рублей, Вы сможете получиться в подарок один из четырёх стульев спроектированными такими легендами дизайна, как: Вернер Пэнтон, Филипп Старк, Ээро Сааринен и Чарльз Имз!
        %br
        %br
        = link_to '← назад', root_path
