.centered
  %article
    .text.opened.icon
      = image_tag 'actions/article_04.jpg'
      %h1
        Целый год!
      %p
        В 2014 году наша компания вводит дополнительные услуги. Наши дизайнеры и замерщики выезжают на дом. Причём весь год Вы сможете воспользоваться данным бонусом совершенно бесплатно! Специалисты нашей компании приедут прямо к Вам домой и помогут составить предварительный дизайн мебели исходя из имеющихся размеров, отделки помещения и дизайна всей квартиры. Вы сможете проконсультироваться по любым интересующим вас вопросам дизайна, как заказываемых изделий, так и квартиры в целом, так как все наши дизайнеры имеют специальное образование в сфере дизайна интерьеров.
        %br
        %br
        = link_to '← назад', root_path
