.centered
  %article
    .text.opened.icon
      = image_tag 'actions/article_03.jpg'
      %h1
        Полноценный дизайн
      %p
        Как поступить, если хочется создать грамотно продуманную, современную, эргономичную и в тоже время эстетически красивую и подходящую исключительно Вам кухню, где можно собраться с друзьями, посмотреть телевизор или просто пообщаться?  Наши дизайнеры предложат свои решения, обустроив Вашу  кухню в любом подходящем для Вашего интерьера стиле, либо создадут проект с нуля учитывая все Ваши пожелания. Вы получите полноценный проект всего помещения, с визуализацией,  с расположением электрики, планом потолков, планом полов и планом размещения светильников.  Это совершенно бесплатный бонус,  при заказе  кухни стоимостью от 400.000 рублей.
        %br
        %br
        = link_to '← назад', root_path
