.centered
  %article
    .text.opened.about
      = image_tag 'about.jpg'
      %h1
        О компании
      %p
        «Bismarck», молодая, динамично развивающаяся компания. Наша философия состоит в том, что бы ввести в Россию инновационный дизайн и качество не уступающее ведущим мировым производителям мебели. Мы разрабатываем индивидуальные проекты под каждого клиента, учитывая все пожелания и технические особенности помещения.  В приоритете использования экологически чистые и качественные материалы. Вся фурнитура компании выполнена ведущими европейскими производствами, по самым новейшим технологиям. Наши основные партнёры территориально находятся в Италии, Германии, Швеции, США, Чехии, Дании, Корее и Австрии. Мы постоянно следим за мировыми тенденциями и трендами и посещаем крупнейшие мировые выставках.
        %br
        %br
        Компания производит неограниченный спектр корпусной мебели, так как наши дизайнеры,  технологи и производство берутся за любой, даже самый оригинальный и необычный запрос. Мы реализуем все технически возможные проекты. Вся мебель делается по индивидуальным размерам, что помогает четко выполнить поставленные задачи. Компания обладает очень большим выбором всевозможных материалов  и способов их обработки. Благодаря этому любой проект может быть реализован без отступлений от изначального замысла клиента или дизайнера.
        %br
        %br
        Так же компания «Bismarck» приглашает к сотрудничеству дизайнеров и архитекторов, для которых созданы специальные, взаимовыгодные условия работы. Опытные дизайнеры мебели и высокопрофессиональные технологи нашей компании всегда готовы помочь довести проект до реализации во всех деталях, с соблюдением всех технических норм и расчётов.
        %br
        %br
