.centered
  %article
    .text.contact
      %p
        г. Санкт-Петербург
        %br
        ТЦ "Мебельный континент"
        %br
        %br
        ООО "Варшава"
        %br
        ИНН: 7814591323
        %br
        КПП: 781401001
        %br
        ОГРН: 1137847433921
        %br
        ОКПО: 31945102
        %br
        ОКАТО: 40270563000
        %br
        ОКВЭД: 52.44
        %br
        Р/С: 40702810155160004042
        %br
        Банк: ОАО "Сбербанк России" БИК 044030653
        %br
        Корр.счет: 30101810500000000653
        %br
        Юр. Адрес: 197342, Санкт-Петербург, ул. Ланское шоссе, д.27, лит. А, пом-1Н
        %br
    .text.contact.map{onload: "initialize()"}
      = render 'layouts/map'
