.centered
  %article
    .text.contact
      %p
        г. Санкт-Петербург
        %br
        ТЦ "Мебельный континент"
        %br
        %br
        Реквизиты
        %br
        ООО
        %br
        ИНН
        %br
        КПП
        %br
        ОГРН
        %br
        ОКПО
        %br
        ОКАТО
        %br
        Р/С
        %br
        Банк
        %br
        БИК
        %br
        Корр.счет
    .text.contact.map
      ok
