.centered.icons
  .znachki.mebel
    #tabs
      %ul
        %li
          %a{href: "#tabs-2"}
            .armchair
            %p КРЕСЛА
        %li
          %a{href: "#tabs-3"}
            .chair
            %p СТУЛЬЯ
        %li
          %a{href: "#tabs-4"}
            .light
            %p СВЕТ
        %li
          %a{href: "#tabs-5"}
            .sofa
            %p ДИВАНЫ
        %li
          %a{href: "#tabs-6"}
            .table
            %p СТОЛЫ
        %li
          %a{href: "#tabs-1"}
            .accessories
            %p АКСЕССУАРЫ
        %li.last-child
          %a{href: "#tabs-7"}
            .sundry
            %p РАЗНОЕ

