.znachki.mebel
  %a{href: '/'}
    .accessories
    %p АКСЕССУАРЫ
  %a
    .armchair
    %p КРЕСЛА
  %a
    .chair
    %p СТУЛЬЯ
  %a
    .light
    %p СВЕТ
  %a
    .sofa
    %p ДИВАНЫ
  %a
    .table
    %p СТОЛЫ
  %a
    .sundry
    %p РАЗНОЕ

