.znachki.mebel
  #tabs
    %ul
      %li
        %a{href: "#tabs-1"}
          .accessories
          %p АКСЕССУАРЫ
      %li
        %a{href: "#tabs-2"}
          .armchair
          %p КРЕСЛА
      %li
        %a{href: "#tabs-3"}
          .chair
          %p СТУЛЬЯ
      %li
        %a{href: "#tabs-4"}
          .light
          %p СВЕТ
      %li
        %a{href: "#tabs-5"}
          .sofa
          %p ДИВАНЫ
      %li
        %a{href: "#kitchen"}
          .table
          %p СТОЛЫ
      %li.last-child
        %a{href: "#tabs-7"}
          .sundry
          %p РАЗНОЕ

      #tabs-1
        .tab_content
          .tab_left
            = image_tag 'kitchen_classic.jpg'
            %p
              КЛАССИЧЕСКИЕ
          .tab_right
            = image_tag 'kitchen_nowtime.jpg'
            %p
              СОВРЕМЕННЫЕ
      #tabs-2
        %p Morbi tincidunt
      #tabs-3
        %p Mauris eleifend est
      #kitchen

