.centered
  %article
    = image_tag 'actions/article_01.jpg'
    .text.icon
      %h1
        Винный шкаф
      %p
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

        = link_to 'подробнее...', '/article-01'
  %article
    = image_tag 'actions/article_02.jpg'
    .text.icon
      %h1
        Винный шкаф
      %p
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

        = link_to 'подробнее...', '/article-02'
