.centered.icons
  .znachki.mebel
    = render 'layouts/gallery_controls'
    = render 'layouts/dop_nav'
    #kitchen
      .tab_content
        .tab_left
          = image_tag 'kitchen_classic.jpg'
          %p
            КЛАССИЧЕСКИЕ
        .tab_right
          = image_tag 'kitchen_nowtime.jpg'
          %p
            СОВРЕМЕННЫЕ


