.znachki.mebel
  %a{href: '/'}
    .bibble
    %p БИБЛИОТЕКИ
  %a
    .cloakroom
    %p ГАРДЕРОБНЫЕ
  %a
    .cupboard
    %p ШКАФЫ
  %a
    .hall
    %p ПРИХОЖИЕ
  %a
    .kids
    %p ДЕТСКИЕ
  %a
    .kitchen
    %p КУХНИ
  %a
    .lounge
    %p ГОСТИННЫЕ
