#kitchen
  .tab_content
    .tab_left
      = link_to mebel_kitchen_classic_path do
        = image_tag 'kitchen_classic.jpg'
        %span КЛАССИЧЕСКИЕ
    .tab_right
      = link_to mebel_kitchen_timenow_path do
        = image_tag 'kitchen_nowtime.jpg'
        %span СОВРЕМЕННЫЕ
