body
  padding: 0
  margin: 0
  background: white
  font-family: PF Din TextPro Regular

ul
  padding: 0
  margin: 0
  list-style: none

nav
  height: 65px
  width: 980px
  margin: 0 auto

a
  text-decoration: none
  padding: 0

.centered
  width: 980px
  padding: 0 50px
  margin: 0 auto

.centered.icons
  padding: 0

.border
  background: yellow
  height: 2px
  +box-shadow(0 0 2px black)

div
  +box-sizing(border-box)

header
  background: gray

  aside
    background: black
    height: 100px

    img
      margin-top: 16px

    .telefon
      margin-top: 32px
      float: right

      p
        margin: 0 0 4px
        color: gray

      .soc-icons
        li
          float: left
          margin-right: 7px

          &:last-child
            margin: 0

          a
            padding: 10px
            display: block
            background: url('icons.png')

            &:hover
              cursor: pointer

            &.instagram
              background-position: -3px -26px
              &:hover
                background-position: -3px -3px
            &.vkontakte
              background-position: -26px -26px
              &:hover
                background-position: -26px -3px
            &.facebook
              background-position: -49px -26px
              &:hover
                background-position: -49px -3px
            &.twitter
              background-position: -72px -26px
              &:hover
                background-position: -72px -3px
  nav
    text-align: center
    ul
      height: 43px
      padding: 23px 50px 0

      li
        float: left
        margin-right: 74px
        height: 21px

        &:last-child
          margin: 0
          float: right
        &.current
          a
            +text-shadow(0 0 3px white)
            position: relative
            background: url('str_02.png') no-repeat center bottom
            z-index: 1
        a
          color: #EAEAEA
          font-size: 18px
          padding: 22px 0

          &:hover, &:focus
            +text-shadow(0 0 3px white)
            position: relative
            background: url('str_02.png') no-repeat center bottom
            z-index: 1

#content
  padding-top: 25px
  +box-shadow(0 0 9px #393A39)
  min-height: 500px
  +box-sizing(border-box)
  position: relative
  overflow: hidden

footer
  background: #5f5e5e
  nav
    width: 980px
    padding: 0 50px
    +box-sizing(border-box)
    position: relative

    &:before
      content: ""
      position: absolute
      left: 452px
      bottom: 46px
      height: 47px
      width: 80px
      background: url('up-arrow.png') no-repeat center bottom

    div
      text-align: center
      display: inline-block
      height: 65px
      width: 33.3333%
      padding: 23px 0

      &:first-child
        text-align: left
      &:last-child
        text-align: right
        float: right
        width: 32%
      &:nth-child(2)
        padding: 23px

      a
        color: white

        &:hover
          color: gray

  aside
    background: black
    height: 100px
