.accessories
  background: url(image_path("icons/accessories.png")) no-repeat center top
.armchair
  background: url(image_path("icons/armchair.png")) no-repeat center top
.chair
  background: url(image_path("icons/chair.png")) no-repeat center top
.light
  background: url(image_path("icons/light.png")) no-repeat center top
.sofa
  background: url(image_path("icons/sofa.png")) no-repeat center top
.table
  background: url(image_path("icons/table.png")) no-repeat center top
.sundry
  background: url(image_path("icons/sundry.png")) no-repeat center top
.bibble
  background: url(image_path("furniture/bibble.png")) no-repeat center top
.cloakroom
  background: url(image_path("furniture/cloakroom.png")) no-repeat center top
.cupboard
  background: url(image_path("furniture/cupboard.png")) no-repeat center top
.hall
  background: url(image_path("furniture/hall.png")) no-repeat center top
.kids
  background: url(image_path("furniture/kids.png")) no-repeat center top
.lounge
  background: url(image_path("furniture/lounge.png")) no-repeat center top
.kitchen
  background: url(image_path("furniture/kitchen.png")) no-repeat center top

#blueimp-gallery
  h3, a, ol
    display: block

.centered
  .znachki
    text-align: center
    padding-bottom: 50px

    .images_group
      #links
        a
          display: inline-block
          color: white
          width: 260px
          height: 195px

          img
            margin: 20px 0 10px

          &:nth-child(3n + 2)
            margin: 0 50px

          span
            color: gray

          &:hover
            img
              opacity: 0.8
            span
              color: #555
    li
      display: inline-block
      width: 110px
      margin-right: 46px

      &:last-child
        margin: 0

      a
        display: inline-block
        width: 110px

        div
          width: 100% !important
          height: 90px

        p
          text-align: center
          display: block
          color: gray
          margin-top: 20px

        &.active
          &:hover
            cursor: default
          div
            background-position: center bottom
          p
            color: black

        &:hover
          cursor: pointer

          div
            background-position: center bottom

          p
            color: black

  .mebel
    li
      width: 110px
      margin-right: 20px

      &.last-child
        margin: 0


article
  padding: 30px 35px
  margin: 25px 0
  +box-shadow(inset 0 0 4px #555)
  background: #f8f8f8
  background-image: url(image_path("rombik.jpg"))

  &:last-child
    margin-bottom: 50px

  img
    float: left
    margin: 0 20px 0 0
    width: 213px
    border: 1px solid #AEAEAE

  .text
    border: 1px solid #AEAEAE
    padding: 25px
    display: inline-block
    background: white
    position: relative
    height: 214px
    width: 575px

    &.icon
      &:after
        bottom: -17px
        content: ""
        height: 44px
        position: absolute
        right: -13px
        width: 105px
        background: url(image_path("actions/action_arrow.png"))

    &.opened
      width: 100%
      height: 100%

      img
        margin-bottom: 20px

      p
        a
          margin: 0

    &.about
      img
        float: none
        width: auto

    &.contact
      width: 390px
      height: 390px

      p
        font-family: PF Din TextPro Regular
        line-height: 17.9px
        font-size: 14px

      &.map
        float: right
        padding: 0

    h1
      color: #333
      font-weight: normal
      margin: 0 0 12px 0

    p
      font-family: PF Din TextPro Italic
      line-height: 22px
      color: #555
      margin: 0

      a
        color: #aaa
        font-size: 14px
        margin-left: 10px

        &:hover
          color: #555

.tab_content
  padding: 50px

  div
    display: inline-block
    margin-right: 50px

    &:last-child
      margin: 0

    p
      color: gray

