%ul
  - { :kitchen => "КУХНИ", :cupboard => "ШКАФЫ", :lounge => "ГОСТИННЫЕ", :kids => "ДЕТСКИЕ", :cloakroom => "ГАРДЕРОБНЫЕ",  :hall => "ПРИХОЖИЕ", :bibble => "БИБЛИОТЕКИ" }.each do |type, name|
    %li
      - path = type == :kitchen ?  mebel_path : send("mebel_#{type}_path")
      - if current_page? path
        %a.active
          %div{ class: type }
          %p= name
      - else
        = link_to path do
          %div{ class: type }
          %p= name
