%div
  =link_to 'назад', "#{@nav[(@nav_cp_index-1)%(@nav.length)]}", 'data-no-turbolink' => true
%div
  =link_to 'наверх', '#top', id: 'top-link'
%div
  =link_to 'вперед', "#{@nav[(@nav_cp_index+1)%(@nav.length)]}", 'data-no-turbolink' => true
