<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBgXuQO98fx5v6fCAaUbWgX68ImxbIKSEA&sensor=false&language=ru">
</script>
<script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(59.881434, 30.310728)
    var mapOptions = {
      center: myLatlng,
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'ТЦ "Мебельный континент", ООО "Варшава"'
  });

  }
</script>
