%ul
  =nav_link 'ГЛАВНАЯ', root_path, class: 'test'
  =nav_link 'О КОМПАНИИ', about_path, class: 'test'
  =nav_link 'КОРПУСНАЯ МЕБЕЛЬ', mebel_kitchen_path, class: 'test'
  =nav_link 'ИКОНЫ ДИЗАЙНА', icons_path, class: 'test'
  =nav_link 'КОНТАКТЫ', contact_path, 'data-no-turbolink' => true
