%ul
  %li.active
    =link_to 'ГЛАВНАЯ', '/', class: 'active'
  %li
    =link_to 'О КОМПАНИИ', 'about'
  %li
    =link_to 'КОРПУСНАЯ МЕБЕЛЬ', 'mebel'
  %li
    =link_to 'ИКОНЫ ДИЗАЙНА', 'icons'
  %li
    =link_to 'КОНТАКТЫ', 'contact'
