.telefon
  %p 8 (812) 982-48-77
  %ul.soc-icons
    %li
      %a{href: 'http://instagram.com/bismarck_spb', target: '_blank', class: 'instagram'}
    %li
      %a{href: 'http://vk.com/bismarck_spb', target: '_blank', class: 'vkontakte'}
    %li
      %a.facebook
    %li
      %a.twitter
